#messages {
    display: none;
}

.page-title {
    font-size: 32px;
    font-weight: bold;
    color: #555555;
    margin-bottom: 20px;
    text-align: center;
}

body {
    background-color: #f2f2f2;
    color: #333333;
    font-family: Arial, sans-serif;
}

section {
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-weight: bold;
    color: #555555;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
}

form[name="leave_message"] {
    margin-top: 20px;
}

label {
    font-size: 18px;
    color: #555555;
}

input[type="text"],
input[type="email"],
textarea {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    width: 100%;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

footer {
    padding: 20px;
    background-color: #dddddd;
}

.profile-image {
    border: 2px solid #333333;
    border-radius: 50%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.body-container {
    max-width: 1200px; /* Adjust the max-width as per your preference */
    margin: 0 auto;
    padding: 20px;
  }

/* Optional: Loading Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body {
    font-family: 'Open Sans', Arial, sans-serif;
}